#autohide-context  {display:none!important;}
.tabs-newtab-button {display: none !important;}
#tabContextMenu {display: none !important;}
#alltabs-button {display: none !important;}
#new-tab-button {display: none !important;}
#notification-popup {display: none !important;}
#window-controls {display: none !important;}

